<div id="message"></div>
<br>
<div >If the blinkStrength crossed the threshold the page will scroll down. Current value of Threadhold is 70</div> <br>
<div id="blinkStrength"></div><br>
<div >If the attention value crossed the threshold the page will scroll down. Current value of Threadhold is 40</div>
<div id="attention"></div> 
<br><br><br><br>
<pre>
    Types of Brain Waves 
    •   Your 5 Brainwaves in low to high frequency: Delta, Theta, Alpha, Beta and Gamma
    •	Each brainwave has a distinct purpose and helps us behave, think, move and process.
    •	If our physiology, diet or environment causes an overproduction or underproduction of a certain brainwave,
    •	It can alter the balance of our bodies and induce many negative effects such as insomnia, anger, stress, learning difficulties or anxiety. 

    o	Delta waves are associated with deep levels of relaxation and restorative sleep, to remember this simply think of ‘Delta’ for ‘Deep’
        Frequency range: 0 Hz to 4 Hz
        High levels: Brain injuries, learning problems, inability to think
        Low levels: Inability to rejuvenate body, inability to revitalize the brain, poor sleep
        Optimal range: Healthy immune system
    o	Theta Waves : -
        Frequency range: 4 Hz to 8 Hz
        High levels: Hyperactivity, depressive states, impulsive activity or inattentiveness
        Low levels: Anxiety symptoms, poor emotional awareness, higher stress levels
        Optimal range: Maximum creativity, deep emotional connection with oneself and others, greater intuition, relaxation
    o	ALPHA Waves : 
        Frequency range: 8 Hz to 12 Hz
        High levels: Too much daydreaming, over-relaxed state or an inability to focus
        Low levels: OCD, anxiety symptoms, higher stress levels
        Optimal range: Ideal relaxation
    o	Beta Waves
        Frequency range: 12 Hz to 40 Hz
        High levels: Anxiety, inability to feel relaxed, high adrenaline levels, stress 
        Low levels: Depression, poor cognitive ability, lack of attention
        Optimal range: Consistent focus, strong memory recall, high problem solving ability

    o	Gamma Waves
        Frequency range: 40 Hz to 100 Hz
        High levels: Anxiety, stress 
        Low levels: Depression,  learning issues
        Optimal range: Information processing, cognition, learning, binding of senses
</pre>
<pre>
    Types of Brain Waves 
    •   Your 5 Brainwaves in low to high frequency: Delta, Theta, Alpha, Beta and Gamma
    •	Each brainwave has a distinct purpose and helps us behave, think, move and process.
    •	If our physiology, diet or environment causes an overproduction or underproduction of a certain brainwave,
    •	It can alter the balance of our bodies and induce many negative effects such as insomnia, anger, stress, learning difficulties or anxiety. 

    o	Delta waves are associated with deep levels of relaxation and restorative sleep, to remember this simply think of ‘Delta’ for ‘Deep’
        Frequency range: 0 Hz to 4 Hz
        High levels: Brain injuries, learning problems, inability to think
        Low levels: Inability to rejuvenate body, inability to revitalize the brain, poor sleep
        Optimal range: Healthy immune system
    o	Theta Waves : -
        Frequency range: 4 Hz to 8 Hz
        High levels: Hyperactivity, depressive states, impulsive activity or inattentiveness
        Low levels: Anxiety symptoms, poor emotional awareness, higher stress levels
        Optimal range: Maximum creativity, deep emotional connection with oneself and others, greater intuition, relaxation
    o	ALPHA Waves : 
        Frequency range: 8 Hz to 12 Hz
        High levels: Too much daydreaming, over-relaxed state or an inability to focus
        Low levels: OCD, anxiety symptoms, higher stress levels
        Optimal range: Ideal relaxation
    o	Beta Waves
        Frequency range: 12 Hz to 40 Hz
        High levels: Anxiety, inability to feel relaxed, high adrenaline levels, stress 
        Low levels: Depression, poor cognitive ability, lack of attention
        Optimal range: Consistent focus, strong memory recall, high problem solving ability

    o	Gamma Waves
        Frequency range: 40 Hz to 100 Hz
        High levels: Anxiety, stress 
        Low levels: Depression,  learning issues
        Optimal range: Information processing, cognition, learning, binding of senses
</pre>
<pre>
    Types of Brain Waves 
    •   Your 5 Brainwaves in low to high frequency: Delta, Theta, Alpha, Beta and Gamma
    •	Each brainwave has a distinct purpose and helps us behave, think, move and process.
    •	If our physiology, diet or environment causes an overproduction or underproduction of a certain brainwave,
    •	It can alter the balance of our bodies and induce many negative effects such as insomnia, anger, stress, learning difficulties or anxiety. 

    o	Delta waves are associated with deep levels of relaxation and restorative sleep, to remember this simply think of ‘Delta’ for ‘Deep’
        Frequency range: 0 Hz to 4 Hz
        High levels: Brain injuries, learning problems, inability to think
        Low levels: Inability to rejuvenate body, inability to revitalize the brain, poor sleep
        Optimal range: Healthy immune system
    o	Theta Waves : -
        Frequency range: 4 Hz to 8 Hz
        High levels: Hyperactivity, depressive states, impulsive activity or inattentiveness
        Low levels: Anxiety symptoms, poor emotional awareness, higher stress levels
        Optimal range: Maximum creativity, deep emotional connection with oneself and others, greater intuition, relaxation
    o	ALPHA Waves : 
        Frequency range: 8 Hz to 12 Hz
        High levels: Too much daydreaming, over-relaxed state or an inability to focus
        Low levels: OCD, anxiety symptoms, higher stress levels
        Optimal range: Ideal relaxation
    o	Beta Waves
        Frequency range: 12 Hz to 40 Hz
        High levels: Anxiety, inability to feel relaxed, high adrenaline levels, stress 
        Low levels: Depression, poor cognitive ability, lack of attention
        Optimal range: Consistent focus, strong memory recall, high problem solving ability

    o	Gamma Waves
        Frequency range: 40 Hz to 100 Hz
        High levels: Anxiety, stress 
        Low levels: Depression,  learning issues
        Optimal range: Information processing, cognition, learning, binding of senses
</pre>
<pre>
    Types of Brain Waves 
    •   Your 5 Brainwaves in low to high frequency: Delta, Theta, Alpha, Beta and Gamma
    •	Each brainwave has a distinct purpose and helps us behave, think, move and process.
    •	If our physiology, diet or environment causes an overproduction or underproduction of a certain brainwave,
    •	It can alter the balance of our bodies and induce many negative effects such as insomnia, anger, stress, learning difficulties or anxiety. 

    o	Delta waves are associated with deep levels of relaxation and restorative sleep, to remember this simply think of ‘Delta’ for ‘Deep’
        Frequency range: 0 Hz to 4 Hz
        High levels: Brain injuries, learning problems, inability to think
        Low levels: Inability to rejuvenate body, inability to revitalize the brain, poor sleep
        Optimal range: Healthy immune system
    o	Theta Waves : -
        Frequency range: 4 Hz to 8 Hz
        High levels: Hyperactivity, depressive states, impulsive activity or inattentiveness
        Low levels: Anxiety symptoms, poor emotional awareness, higher stress levels
        Optimal range: Maximum creativity, deep emotional connection with oneself and others, greater intuition, relaxation
    o	ALPHA Waves : 
        Frequency range: 8 Hz to 12 Hz
        High levels: Too much daydreaming, over-relaxed state or an inability to focus
        Low levels: OCD, anxiety symptoms, higher stress levels
        Optimal range: Ideal relaxation
    o	Beta Waves
        Frequency range: 12 Hz to 40 Hz
        High levels: Anxiety, inability to feel relaxed, high adrenaline levels, stress 
        Low levels: Depression, poor cognitive ability, lack of attention
        Optimal range: Consistent focus, strong memory recall, high problem solving ability

    o	Gamma Waves
        Frequency range: 40 Hz to 100 Hz
        High levels: Anxiety, stress 
        Low levels: Depression,  learning issues
        Optimal range: Information processing, cognition, learning, binding of senses
</pre>
<pre>
    Types of Brain Waves 
    •   Your 5 Brainwaves in low to high frequency: Delta, Theta, Alpha, Beta and Gamma
    •	Each brainwave has a distinct purpose and helps us behave, think, move and process.
    •	If our physiology, diet or environment causes an overproduction or underproduction of a certain brainwave,
    •	It can alter the balance of our bodies and induce many negative effects such as insomnia, anger, stress, learning difficulties or anxiety. 

    o	Delta waves are associated with deep levels of relaxation and restorative sleep, to remember this simply think of ‘Delta’ for ‘Deep’
        Frequency range: 0 Hz to 4 Hz
        High levels: Brain injuries, learning problems, inability to think
        Low levels: Inability to rejuvenate body, inability to revitalize the brain, poor sleep
        Optimal range: Healthy immune system
    o	Theta Waves : -
        Frequency range: 4 Hz to 8 Hz
        High levels: Hyperactivity, depressive states, impulsive activity or inattentiveness
        Low levels: Anxiety symptoms, poor emotional awareness, higher stress levels
        Optimal range: Maximum creativity, deep emotional connection with oneself and others, greater intuition, relaxation
    o	ALPHA Waves : 
        Frequency range: 8 Hz to 12 Hz
        High levels: Too much daydreaming, over-relaxed state or an inability to focus
        Low levels: OCD, anxiety symptoms, higher stress levels
        Optimal range: Ideal relaxation
    o	Beta Waves
        Frequency range: 12 Hz to 40 Hz
        High levels: Anxiety, inability to feel relaxed, high adrenaline levels, stress 
        Low levels: Depression, poor cognitive ability, lack of attention
        Optimal range: Consistent focus, strong memory recall, high problem solving ability

    o	Gamma Waves
        Frequency range: 40 Hz to 100 Hz
        High levels: Anxiety, stress 
        Low levels: Depression,  learning issues
        Optimal range: Information processing, cognition, learning, binding of senses
</pre>
<pre>
    Types of Brain Waves 
    •   Your 5 Brainwaves in low to high frequency: Delta, Theta, Alpha, Beta and Gamma
    •	Each brainwave has a distinct purpose and helps us behave, think, move and process.
    •	If our physiology, diet or environment causes an overproduction or underproduction of a certain brainwave,
    •	It can alter the balance of our bodies and induce many negative effects such as insomnia, anger, stress, learning difficulties or anxiety. 

    o	Delta waves are associated with deep levels of relaxation and restorative sleep, to remember this simply think of ‘Delta’ for ‘Deep’
        Frequency range: 0 Hz to 4 Hz
        High levels: Brain injuries, learning problems, inability to think
        Low levels: Inability to rejuvenate body, inability to revitalize the brain, poor sleep
        Optimal range: Healthy immune system
    o	Theta Waves : -
        Frequency range: 4 Hz to 8 Hz
        High levels: Hyperactivity, depressive states, impulsive activity or inattentiveness
        Low levels: Anxiety symptoms, poor emotional awareness, higher stress levels
        Optimal range: Maximum creativity, deep emotional connection with oneself and others, greater intuition, relaxation
    o	ALPHA Waves : 
        Frequency range: 8 Hz to 12 Hz
        High levels: Too much daydreaming, over-relaxed state or an inability to focus
        Low levels: OCD, anxiety symptoms, higher stress levels
        Optimal range: Ideal relaxation
    o	Beta Waves
        Frequency range: 12 Hz to 40 Hz
        High levels: Anxiety, inability to feel relaxed, high adrenaline levels, stress 
        Low levels: Depression, poor cognitive ability, lack of attention
        Optimal range: Consistent focus, strong memory recall, high problem solving ability

    o	Gamma Waves
        Frequency range: 40 Hz to 100 Hz
        High levels: Anxiety, stress 
        Low levels: Depression,  learning issues
        Optimal range: Information processing, cognition, learning, binding of senses
</pre>
<pre>
    Types of Brain Waves 
    •   Your 5 Brainwaves in low to high frequency: Delta, Theta, Alpha, Beta and Gamma
    •	Each brainwave has a distinct purpose and helps us behave, think, move and process.
    •	If our physiology, diet or environment causes an overproduction or underproduction of a certain brainwave,
    •	It can alter the balance of our bodies and induce many negative effects such as insomnia, anger, stress, learning difficulties or anxiety. 

    o	Delta waves are associated with deep levels of relaxation and restorative sleep, to remember this simply think of ‘Delta’ for ‘Deep’
        Frequency range: 0 Hz to 4 Hz
        High levels: Brain injuries, learning problems, inability to think
        Low levels: Inability to rejuvenate body, inability to revitalize the brain, poor sleep
        Optimal range: Healthy immune system
    o	Theta Waves : -
        Frequency range: 4 Hz to 8 Hz
        High levels: Hyperactivity, depressive states, impulsive activity or inattentiveness
        Low levels: Anxiety symptoms, poor emotional awareness, higher stress levels
        Optimal range: Maximum creativity, deep emotional connection with oneself and others, greater intuition, relaxation
    o	ALPHA Waves : 
        Frequency range: 8 Hz to 12 Hz
        High levels: Too much daydreaming, over-relaxed state or an inability to focus
        Low levels: OCD, anxiety symptoms, higher stress levels
        Optimal range: Ideal relaxation
    o	Beta Waves
        Frequency range: 12 Hz to 40 Hz
        High levels: Anxiety, inability to feel relaxed, high adrenaline levels, stress 
        Low levels: Depression, poor cognitive ability, lack of attention
        Optimal range: Consistent focus, strong memory recall, high problem solving ability

    o	Gamma Waves
        Frequency range: 40 Hz to 100 Hz
        High levels: Anxiety, stress 
        Low levels: Depression,  learning issues
        Optimal range: Information processing, cognition, learning, binding of senses
</pre>
<pre>
    Types of Brain Waves 
    •   Your 5 Brainwaves in low to high frequency: Delta, Theta, Alpha, Beta and Gamma
    •	Each brainwave has a distinct purpose and helps us behave, think, move and process.
    •	If our physiology, diet or environment causes an overproduction or underproduction of a certain brainwave,
    •	It can alter the balance of our bodies and induce many negative effects such as insomnia, anger, stress, learning difficulties or anxiety. 

    o	Delta waves are associated with deep levels of relaxation and restorative sleep, to remember this simply think of ‘Delta’ for ‘Deep’
        Frequency range: 0 Hz to 4 Hz
        High levels: Brain injuries, learning problems, inability to think
        Low levels: Inability to rejuvenate body, inability to revitalize the brain, poor sleep
        Optimal range: Healthy immune system
    o	Theta Waves : -
        Frequency range: 4 Hz to 8 Hz
        High levels: Hyperactivity, depressive states, impulsive activity or inattentiveness
        Low levels: Anxiety symptoms, poor emotional awareness, higher stress levels
        Optimal range: Maximum creativity, deep emotional connection with oneself and others, greater intuition, relaxation
    o	ALPHA Waves : 
        Frequency range: 8 Hz to 12 Hz
        High levels: Too much daydreaming, over-relaxed state or an inability to focus
        Low levels: OCD, anxiety symptoms, higher stress levels
        Optimal range: Ideal relaxation
    o	Beta Waves
        Frequency range: 12 Hz to 40 Hz
        High levels: Anxiety, inability to feel relaxed, high adrenaline levels, stress 
        Low levels: Depression, poor cognitive ability, lack of attention
        Optimal range: Consistent focus, strong memory recall, high problem solving ability

    o	Gamma Waves
        Frequency range: 40 Hz to 100 Hz
        High levels: Anxiety, stress 
        Low levels: Depression,  learning issues
        Optimal range: Information processing, cognition, learning, binding of senses
</pre>
<pre>
    Types of Brain Waves 
    •   Your 5 Brainwaves in low to high frequency: Delta, Theta, Alpha, Beta and Gamma
    •	Each brainwave has a distinct purpose and helps us behave, think, move and process.
    •	If our physiology, diet or environment causes an overproduction or underproduction of a certain brainwave,
    •	It can alter the balance of our bodies and induce many negative effects such as insomnia, anger, stress, learning difficulties or anxiety. 

    o	Delta waves are associated with deep levels of relaxation and restorative sleep, to remember this simply think of ‘Delta’ for ‘Deep’
        Frequency range: 0 Hz to 4 Hz
        High levels: Brain injuries, learning problems, inability to think
        Low levels: Inability to rejuvenate body, inability to revitalize the brain, poor sleep
        Optimal range: Healthy immune system
    o	Theta Waves : -
        Frequency range: 4 Hz to 8 Hz
        High levels: Hyperactivity, depressive states, impulsive activity or inattentiveness
        Low levels: Anxiety symptoms, poor emotional awareness, higher stress levels
        Optimal range: Maximum creativity, deep emotional connection with oneself and others, greater intuition, relaxation
    o	ALPHA Waves : 
        Frequency range: 8 Hz to 12 Hz
        High levels: Too much daydreaming, over-relaxed state or an inability to focus
        Low levels: OCD, anxiety symptoms, higher stress levels
        Optimal range: Ideal relaxation
    o	Beta Waves
        Frequency range: 12 Hz to 40 Hz
        High levels: Anxiety, inability to feel relaxed, high adrenaline levels, stress 
        Low levels: Depression, poor cognitive ability, lack of attention
        Optimal range: Consistent focus, strong memory recall, high problem solving ability

    o	Gamma Waves
        Frequency range: 40 Hz to 100 Hz
        High levels: Anxiety, stress 
        Low levels: Depression,  learning issues
        Optimal range: Information processing, cognition, learning, binding of senses
</pre>
<pre>
    Types of Brain Waves 
    •   Your 5 Brainwaves in low to high frequency: Delta, Theta, Alpha, Beta and Gamma
    •	Each brainwave has a distinct purpose and helps us behave, think, move and process.
    •	If our physiology, diet or environment causes an overproduction or underproduction of a certain brainwave,
    •	It can alter the balance of our bodies and induce many negative effects such as insomnia, anger, stress, learning difficulties or anxiety. 

    o	Delta waves are associated with deep levels of relaxation and restorative sleep, to remember this simply think of ‘Delta’ for ‘Deep’
        Frequency range: 0 Hz to 4 Hz
        High levels: Brain injuries, learning problems, inability to think
        Low levels: Inability to rejuvenate body, inability to revitalize the brain, poor sleep
        Optimal range: Healthy immune system
    o	Theta Waves : -
        Frequency range: 4 Hz to 8 Hz
        High levels: Hyperactivity, depressive states, impulsive activity or inattentiveness
        Low levels: Anxiety symptoms, poor emotional awareness, higher stress levels
        Optimal range: Maximum creativity, deep emotional connection with oneself and others, greater intuition, relaxation
    o	ALPHA Waves : 
        Frequency range: 8 Hz to 12 Hz
        High levels: Too much daydreaming, over-relaxed state or an inability to focus
        Low levels: OCD, anxiety symptoms, higher stress levels
        Optimal range: Ideal relaxation
    o	Beta Waves
        Frequency range: 12 Hz to 40 Hz
        High levels: Anxiety, inability to feel relaxed, high adrenaline levels, stress 
        Low levels: Depression, poor cognitive ability, lack of attention
        Optimal range: Consistent focus, strong memory recall, high problem solving ability

    o	Gamma Waves
        Frequency range: 40 Hz to 100 Hz
        High levels: Anxiety, stress 
        Low levels: Depression,  learning issues
        Optimal range: Information processing, cognition, learning, binding of senses
</pre>
<pre>
    Types of Brain Waves 
    •   Your 5 Brainwaves in low to high frequency: Delta, Theta, Alpha, Beta and Gamma
    •	Each brainwave has a distinct purpose and helps us behave, think, move and process.
    •	If our physiology, diet or environment causes an overproduction or underproduction of a certain brainwave,
    •	It can alter the balance of our bodies and induce many negative effects such as insomnia, anger, stress, learning difficulties or anxiety. 

    o	Delta waves are associated with deep levels of relaxation and restorative sleep, to remember this simply think of ‘Delta’ for ‘Deep’
        Frequency range: 0 Hz to 4 Hz
        High levels: Brain injuries, learning problems, inability to think
        Low levels: Inability to rejuvenate body, inability to revitalize the brain, poor sleep
        Optimal range: Healthy immune system
    o	Theta Waves : -
        Frequency range: 4 Hz to 8 Hz
        High levels: Hyperactivity, depressive states, impulsive activity or inattentiveness
        Low levels: Anxiety symptoms, poor emotional awareness, higher stress levels
        Optimal range: Maximum creativity, deep emotional connection with oneself and others, greater intuition, relaxation
    o	ALPHA Waves : 
        Frequency range: 8 Hz to 12 Hz
        High levels: Too much daydreaming, over-relaxed state or an inability to focus
        Low levels: OCD, anxiety symptoms, higher stress levels
        Optimal range: Ideal relaxation
    o	Beta Waves
        Frequency range: 12 Hz to 40 Hz
        High levels: Anxiety, inability to feel relaxed, high adrenaline levels, stress 
        Low levels: Depression, poor cognitive ability, lack of attention
        Optimal range: Consistent focus, strong memory recall, high problem solving ability

    o	Gamma Waves
        Frequency range: 40 Hz to 100 Hz
        High levels: Anxiety, stress 
        Low levels: Depression,  learning issues
        Optimal range: Information processing, cognition, learning, binding of senses
</pre>
<pre>
    Types of Brain Waves 
    •   Your 5 Brainwaves in low to high frequency: Delta, Theta, Alpha, Beta and Gamma
    •	Each brainwave has a distinct purpose and helps us behave, think, move and process.
    •	If our physiology, diet or environment causes an overproduction or underproduction of a certain brainwave,
    •	It can alter the balance of our bodies and induce many negative effects such as insomnia, anger, stress, learning difficulties or anxiety. 

    o	Delta waves are associated with deep levels of relaxation and restorative sleep, to remember this simply think of ‘Delta’ for ‘Deep’
        Frequency range: 0 Hz to 4 Hz
        High levels: Brain injuries, learning problems, inability to think
        Low levels: Inability to rejuvenate body, inability to revitalize the brain, poor sleep
        Optimal range: Healthy immune system
    o	Theta Waves : -
        Frequency range: 4 Hz to 8 Hz
        High levels: Hyperactivity, depressive states, impulsive activity or inattentiveness
        Low levels: Anxiety symptoms, poor emotional awareness, higher stress levels
        Optimal range: Maximum creativity, deep emotional connection with oneself and others, greater intuition, relaxation
    o	ALPHA Waves : 
        Frequency range: 8 Hz to 12 Hz
        High levels: Too much daydreaming, over-relaxed state or an inability to focus
        Low levels: OCD, anxiety symptoms, higher stress levels
        Optimal range: Ideal relaxation
    o	Beta Waves
        Frequency range: 12 Hz to 40 Hz
        High levels: Anxiety, inability to feel relaxed, high adrenaline levels, stress 
        Low levels: Depression, poor cognitive ability, lack of attention
        Optimal range: Consistent focus, strong memory recall, high problem solving ability

    o	Gamma Waves
        Frequency range: 40 Hz to 100 Hz
        High levels: Anxiety, stress 
        Low levels: Depression,  learning issues
        Optimal range: Information processing, cognition, learning, binding of senses
</pre>
<pre>
    Types of Brain Waves 
    •   Your 5 Brainwaves in low to high frequency: Delta, Theta, Alpha, Beta and Gamma
    •	Each brainwave has a distinct purpose and helps us behave, think, move and process.
    •	If our physiology, diet or environment causes an overproduction or underproduction of a certain brainwave,
    •	It can alter the balance of our bodies and induce many negative effects such as insomnia, anger, stress, learning difficulties or anxiety. 

    o	Delta waves are associated with deep levels of relaxation and restorative sleep, to remember this simply think of ‘Delta’ for ‘Deep’
        Frequency range: 0 Hz to 4 Hz
        High levels: Brain injuries, learning problems, inability to think
        Low levels: Inability to rejuvenate body, inability to revitalize the brain, poor sleep
        Optimal range: Healthy immune system
    o	Theta Waves : -
        Frequency range: 4 Hz to 8 Hz
        High levels: Hyperactivity, depressive states, impulsive activity or inattentiveness
        Low levels: Anxiety symptoms, poor emotional awareness, higher stress levels
        Optimal range: Maximum creativity, deep emotional connection with oneself and others, greater intuition, relaxation
    o	ALPHA Waves : 
        Frequency range: 8 Hz to 12 Hz
        High levels: Too much daydreaming, over-relaxed state or an inability to focus
        Low levels: OCD, anxiety symptoms, higher stress levels
        Optimal range: Ideal relaxation
    o	Beta Waves
        Frequency range: 12 Hz to 40 Hz
        High levels: Anxiety, inability to feel relaxed, high adrenaline levels, stress 
        Low levels: Depression, poor cognitive ability, lack of attention
        Optimal range: Consistent focus, strong memory recall, high problem solving ability

    o	Gamma Waves
        Frequency range: 40 Hz to 100 Hz
        High levels: Anxiety, stress 
        Low levels: Depression,  learning issues
        Optimal range: Information processing, cognition, learning, binding of senses
</pre>
